/* ------------ Imports ------------ */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ------------ Main CSS ------------ */
body{
    background-color: #337BB5;
}

/* ------------ Text Styles ------------ */
h1,h2,h3,p,label{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

#banner_text{
    font-size: 40px;
}

/* ------------ Navbar Styles ------------ */

.navbar-inverse{
    background-color:#337BB5;
    border-color: #337BB5;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    background-color:#337BB5;
}

.navbar-brand{
    color:#FFF;
}

.navbar-inverse .navbar-nav>li>a{
    color:#FFF;
}

/* ------------ Form Styles ------------ */
#transparent_form{
    color: #FFF;
    background-color: #337BB5;
    border-bottom: 1px;
    border-bottom-color: #FFF;
    border-style: solid;
    box-shadow: none !important;
}

.form-control{
    border:0;
    border-radius: 0px;
}

/* ------------ Other Styles ------------ */

#map{
    width: 100%;
    left: 0;
    height:500px;
    margin-left:0px;
    margin-right:0px;
}

.container-full{
    margin: 0 auto;
    width: 100%;
}